# Sesion 2: Entendiendo y clasificando indicadores

En esta sesión profundizaremos sobre distintos tipos de KPIs. Exploraremos distintas clasificaciones de indicadores: Cuantitativos, cualitativos, estrategicos, operacionales y funcionales. Entender estas clasificaciones te ayudara a seleccionar KPIs de manera apropiada basado en las necesidades y objetivos del negocio


## Que aprenderas:
- Diferencia entre KPIs cualitativos y cuantitativos.
- Distingir entre KPIs estrategicos, operativos y funcionales.
- Usar este conocimiento en un caso practico para definir y calcular un KPI.

## KPIs Cuantitativos y Cualitativos

### KPIs Cuantitativos
KPIs cuantitativos estan expresados en numeros y son posibles de medir de manera muy directa. Son esenciales para objetivos de evaluaciones y son comunmente relacionados a metricas de desempeño que influyen en el ingreso económico y rentabilidad de una empresa.

**Ejemplos:**
- **Ingreso de ventas (Sales Revenue):** Ingresos totales por actividades de venta. Es un indicador directo del desempeño de un negocio.
<img style="margin: 0px 0px 15px 15px;" src="https://online.hbs.edu/PublishingImages/Company-B-Income-Statement-version2.jpg" width="400px" height="400px" />
- **Margen de Ganancia Neto (Net Profit Margin):** Representa el porcentaje de ganancias sobre ingresos totales: $\frac{\text{Ingresos} - \text{Costos}}{\text{Ingresos}} = 1 - \frac{\text{Costos}}{\text{Ingresos}}$.
- **Valor del tiempo de vida del cliente (Customer Lifetime Value, CLTV o LTV):** Predice la ganancia neta atribuida a toda la relación futura del cliente. Una de muchas maneras de calcularlo es la siguiente $\frac{\text{ARPU} x \text{% Margin}}{\text{Churn Rate}}$ donde ARPU es el ingreso promedio mensual por usuario, % Margin es el Margen de ganancia neto y churn rate es la tasa de perdida de clientes mensual.

**EJEMPLOS DE ALUMNOS**

### KPIs Cualitativos
Los KPIs cualitativos son mas subjetivos y comunmente son usados para medir el desempeño de actividades que no son cuantificables facilmente, como el Net Prompoter Score (NPS), Satisfacción del cliente (CSAT) y moral de los empleados.

**Examples:**
- **Customer Satisfaction Scores (CSAT):** Se obtiene a traves de formularios de retroalimentación y encuestas. Mide como los productos o servicios alcanzan o sobrepasan la expectativa del cliente. $\frac{\text{Respuestas de 4 o 5}}{\text{Respuestas totales}}$
<img style="margin: 0px 0px 15px 15px;" src="https://www.questionpro.com/blog/wp-content/uploads/2020/04/Macdonalds-1.png" width="400px" height="400px" />

- **Net Promoters Score (NPS):** Indicador que mide la satisfacción del cliente, haciendole directamente la pregunta "¿Recomendarías a tu familia y amigos que probaran el producto X?" en escala del 1 al 10. Despues los que contestaron 9 o 10 los considerarás promotores, los que contestaron 6 o menos los consideraras detractores. El NPS se calcularía de la siguiente manera: $\frac{\text{Promotores}-\text{Detractores}}{\text{# usuarios que contestaron}}$
<img style="margin: 0px 0px 15px 15px;" src="https://business.critizr.com/hubfs/Measuring_emplpoye_satisfaction_eNPS.jpeg" width="400px" height="400px" />

- **Employee Satisfaction Index (ESI):** Tipicamente medido a traves de encuestas para entender la felicidad y compromiso del empleado, impactando la retención y productividad. Esto es contestando estas tres preguntas en una escala del 1 al 10, sumando las respuestas y dividiendolas entre 30 para sacar el porcentaje de satisfacción total.
    - How satisfied are you with your current workplace?
    - How well does your current workplace meet your expectations?
    - How close is your current workplace to the ideal one?


## KPIs estratégicos, operacionales y funcionales

### KPIs estratégicos

Los KPIs estratégicos están alineados con los objetivos de alto nivel de la compañia y metas de largo plazo. Ayudan a los directivos a impulsar el exito de la compañia y lograr sus objetivos estrategicos. Dependen mucho de la etapa de madurez de la empresa.

**Ejemplos:**
- **Return on Investment (ROI):** Mide la eficiencia de diferentes inversiones, determinando que tan bien la compañia esta usando su capital para generar ganancias. $\frac{\text{Ganancia neta}}{\text{Costo de inversiones}}$
- **Market Share:** Para compañias ya maduras, indica la porción de ventas dentro de la industria, otorgando conclusiones sobre el posicionamiento competitivo. $\frac{\text{Ventas de mi empresa}}{\text{Ventas totales en la industria}}$
- **Monthly Active Users (MAU) o Daily Active Users (DAU):** Para startups de tecnología, particularmente aplicaciones o plataformas en linea, darle seguimiento a usuarios activos es un indicador vital de crecimiento potencial.

### KPIs operacionales

KPIs operacionales son usados para medir la eficiencia y efectividad de la operación de la compañia. Son cruciales para la administración diaria y para darle seguimiento a la salud operacional de la compañia.

**¿Que es la operación de la compañia?**
Son todas las actividades requeridas para entregar productos o servicios a los clientes y alcanzar los objetivos de los negocios.

**Ejemplos:**
- **Tiempo del ciclo de cumplimiento del pedido:** Mide el tiempo tomado desde recibir una orden del cliente hasta entregar el producto. Muestra la eficiencia operacional.
- **Rotación de inventario:** Muestra que tan seguido el inventario se vende y es remplazado sobre un periodo. Indica la efectividad de la administración de inventario. $\frac{\text{Costo de bienes vendidos}}{\text{Promedio de inventario diario en el mes}}$
- **Production Downtime:** Mide el tiempo que la producción estubo parada, impactando el tiempo de productividad total. $\frac{\text{Horas totales de producción en paro}}{\text{Horas en el año operables (8,760 normalmente)}}$

### KPIs Funcionales
Los KPIs funcionales se enfocan en departamentos especificos dentro de la organización, enforcandose en el desempeño y la eficiencia de las areas especializadas.

**Ejemplos:**
- **Finanzas: Numero de proveedores** - Medición que ayuda al departamento financiero cuantos nuevos proveedores existen en la compañia dentro del sistema de contabilidad.
- **Recursos Humanos: Tasa de rotación** - Indica la tasa a la cual los empleados se van y son reemplazados, afectando el costo de reclutamiento y estabilidad organizacional.
- **Marketing: Clicks en los email enviados** - Medición que permite comparar el éxito de campañas de email y mejorar sus procesos de envio.

## Estudio de caso 1: Análisis de abandono de clientes en Telecomunicaciones

### **Contexto  y antecedentes:**

Para esta sesión, utilizaremos un conjunto de datos de una empresa de telecomunicaciones ficticia que proporcionó servicios de Internet y telefonía residencial a 7043 clientes en California durante el tercer trimestre. Este conjunto de datos, conocido como el conjunto de datos "Telco Customer Churn", incluye datos demográficos, servicios e información de cuentas de clientes. Nos centraremos en comprender la rotación de clientes, lo cual es crucial para desarrollar estrategias efectivas de retención de clientes.

### Objetivo

El objetivo de este estudio de caso es calcular indicadores clave que puedan ayudarnos a comprender cuanto porcentaje de los clientes se van y establecer una base para futuros análisis en profundidad destinados a mejorar las tasas de retención.

### Descripción de la actividad

1. **Exploración y comprensión de datos:** 
    - Los estudiantes primero explorarán el conjunto de datos para comprender el tipo de datos disponibles, centrándose en variables directamente relacionadas con la pérdida de clientes. ¿Cuantas y cuales variables tenemos disponibles?, ¿faltan datos?, ¿Los datos en las variables aparentan estar correctos?, ¿hay outliers?, ¿existe alguna que nos ayude identificar si un cliente abandono?

2. **Cálculo del indicador:** 
    - Tasa de abandono: calcule la tasa de abandono general de la empresa para comprender la línea de base de deserción de clientes.
    - Uso de servicios entre clientes que han abandonado: analice qué servicios (como teléfono, Internet, seguridad en línea) son más utilizados por los clientes que han abandonado.

3. **Establecer la línea de base para análisis futuros:** 
    - Identifique patrones o tendencias potenciales en los datos de abandono relacionados con la demografía de los clientes (como personas mayores, socios, dependientes) o tipos de servicios.
    - Proponga hipótesis sobre lo que podría estar influyendo en las tasas de abandono, como cargos mensuales elevados o quejas de servicios específicos.

In [1]:
### Empezar el ejercicio aqui ####

In [2]:
import pandas as pd

In [9]:
df = pd.read_csv("WA_Fn-UseC_-Telco-Customer-Churn.csv")
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [11]:
df["Churn"].value_counts()

Churn
No     5174
Yes    1869
Name: count, dtype: int64

In [14]:
df["churn_flag"] = 1 * (df["Churn"] == "Yes")

In [17]:
df["churn_flag"].mean()

0.2653698707936959

In [18]:
df.groupby("PhoneService")["churn_flag"].mean()

PhoneService
No     0.249267
Yes    0.267096
Name: churn_flag, dtype: float64

## Estudio de caso 2: Análisis del comercio minorista en línea

### **Contexto  y antecedentes:**

Se le proporcionan datos de una tienda minorista en línea. El conjunto de datos incluye transacciones del 12/01/2009 al 12/09/2011 para un comercio en línea y con sede en el Reino Unido. La empresa vende principalmente regalos únicos para todas las ocasiones. Muchos clientes de la empresa son mayoristas.

### Objetivo

Su tarea es analizar los datos proporcionados para identificar KPI importantes que podrían ayudar a la gerencia a comprender mejor el desempeño de su negocio, centrándose específicamente en el valor del cliente y las ventas totales a traves del tiempo.

### Datos disponibles

El dataset incluye los siguientes atributos (variables, features, columnas, campos, etc...):
- InvoiceNo: Numero de ticket. Nominal. Un número de 6 digitos unico por cada transacción. Si comienza con una letra "c", indica que fue una cancelación. 
- StockCode: Codigo del producto (item). Nominal. Número de 5 diginos unico por cada producto distinto.
- Description: Nombre del producto (item). Nominal. 
- Quantity: Cantidad de producto (item) vendido en la transacción. Numérico.	
- InvoiceDate: Fecha y hora que se generó la transacción. Numérico. 
- UnitPrice: Precio unitario. Numérico. Precio del producto en libras esterlinas (Â£). 
- CustomerID: Numero de cliente. Nominal. Número entero de 5 digitos unico asociado a cada cliente. 
- Country: Nombre del país. Nominal. Nombre del país donde el cliente reside.

**Datos disponibles en:** [Online Retail II Data](https://archive.ics.uci.edu/ml/datasets/Online+Retail+II)

### Descripción de la actividad

1. **Exploración y comprensión de datos:** 
    - Los estudiantes primero explorarán el conjunto de datos para comprender el tipo de datos disponibles, centrándose en variables directamente relacionadas con el objetivo de la empresa.

2. **Selección de indicadores:**
    - Los estudiantes escogerán que indicadores estarían relacionados con el objetivo de la empresa.

3. **Cálculo de los indicadores:** 
    - Una vez seleccionados los indicadores es momento de calcularlos.

4. **Analizar los resultados y preparar un reporte breve de lo que se observo:** 
    - Que dicen los resultados de la empresa. ¿El valor de sus clientes aumento?, ¿el desempeño de ventas aumento?, ¿Si yo quisiera valuar la empresa con multiplos con los datos que tengo como le puedo hacer?

In [19]:
df2 = pd.read_excel("online_retail_II.xlsx", sheet_name=0)
df2

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
525456,538171,22271,FELTCRAFT DOLL ROSIE,2,2010-12-09 20:01:00,2.95,17530.0,United Kingdom
525457,538171,22750,FELTCRAFT PRINCESS LOLA DOLL,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525458,538171,22751,FELTCRAFT PRINCESS OLIVIA DOLL,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525459,538171,20970,PINK FLORAL FELTCRAFT SHOULDER BAG,2,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525460,538171,21931,JUMBO STORAGE BAG SUKI,2,2010-12-09 20:01:00,1.95,17530.0,United Kingdom

<script>
  $(document).ready(function(){
    $('div.prompt').hide();
    $('div.back-to-top').hide();
    $('nav#menubar').hide();
    $('.breadcrumb').hide();
    $('.hidden-print').hide();
  });
</script>

<footer id="attribution" style="float:right; color:#808080; background:#fff;">
Created with Jupyter by Carlos Kelly
</footer>