- Luis Eduardo Jiménez del Muro
- Lenin Adair Quezada Gómez
- José Armando Melchor Soto
- Edgar Alfonso Ramos Gómez

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

## Funciones del Programa

## Carga de Datos

In [3]:
clientes = pd.read_csv('data/CLIENTES.csv', encoding='latin1')
marca = pd.read_csv('data/MARCA.csv', encoding='latin1')
medios_pago = pd.read_csv('data/MEDIOSPAGO.csv', encoding='latin1')
presupuestos_hist = pd.read_csv('data/PRESUPUESTOS_HISTORICO_ESTADO.csv', encoding='latin1')
presupuestos = pd.read_csv('data/CLIENTES.csv', encoding='latin1') 
reparaciones_hist = pd.read_csv('data/REPARACIONES_HISTORICO_ESTADO.csv', encoding='latin1')
reparaciones = pd.read_csv('data/REPARACIONES_CLEAN.csv', encoding='latin1')
situaciones = pd.read_csv('data/SITUACIONES.csv', encoding='latin1')
tipo_aparato = pd.read_csv('data/TIPO_APARATO.csv', encoding='latin1')

## Exploración de Datos

In [5]:
reparaciones.head()

,index,CODIGO,CLIENTE,NS,FALLA,OBSERVACIONES,FECHAINGRESO,HORAINGRESO,RECEPCIONADO,TECNICO,INFORMETALLER,FECHATERMINADO,HORATERMINADO,ESTADO,ENTREGADO,FECHA_ENTREGADO,GARANTIA,INGRESO
0,2,2069,12,cnd948016c,INCLUIR EL EDITOR DE PDF contaseña 234Hienz,NaN,2018-12-04,09:37:05,2,0,INCLUIR EL EDITOR DEL PDF $150+IVA,2018-12-06,11:06:57,3,S,2018-12-06,NaN,150.0
1,5,4,3,90819838,MAYUSCULAS: NO ESCRIBE MINUSCULAS:SE NOTA MAS...,"CINTA, MARGARITA, TAPA, CUBIERTA.",2017-11-22,10:40:04,1,0,rep. de mylar de teclado $ 360.00 + iva,2017-12-04,12:53:12,3,S,2018-02-14,NaN,360.0
2,6,5,3,8062904,REV . GRAL.,MARGARITA. CINTA. TAPA Y CUBIERTA.,2017-11-22,10:44:55,1,0,REPARACION DE MYLER DE TECLADO $ 360.00 + IVA,2017-12-04,12:54:00,3,S,2018-02-14,NaN,360.0
3,11,10,2,z6msb8gc5b001xx,REV. GRAL.,CARTUCHO TONER,2017-11-22,11:00:17,1,0,REPARACION TRACCION DE PAPEL - ELECTROIMAN\r\n...,2019-01-02,09:35:41,3,S,2019-01-02,NaN,1030.0
4,13,12,2,z729b8kc5c000gh,REV. GRAL.,SIN TONER. CON CABLE DE ENERGIA,2017-11-22,11:07:18,1,0,BUEN MANTENIMIENTO $530 + IVA,2018-11-29,13:25:55,3,S,2018-11-30,NaN,530.0

In [25]:
reparaciones['FECHATERMINADO'] = pd.to_datetime(reparaciones['FECHATERMINADO'])

## Customer Life Time Value

In [73]:
ltv = reparaciones.groupby(['CLIENTE'])['INGRESO'].sum().reset_index()
ltv

      CLIENTE   INGRESO
0           2    7420.0
1           3   54312.5
2           4  205342.0
3           5   97235.0
4           6   17519.0
...       ...       ...
1507     1845     600.0
1508     1847    2264.0
1509     1848    1660.0
1510     1850    2381.0
1511     1851    3340.0

[1512 rows x 2 columns]